body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', monospace;
}

.sidebar-hacker {
    background-color: #111;
    padding: 10px;
    border-left: 4px solid #f00;
}

.sidebar-hacker h2 {
    color: #f00;
    text-shadow: 0 0 5px #f00;
}

.sidebar-hacker ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-hacker li {
    margin: 10px 0;
}

.sidebar-hacker a {
    color: #0f0;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-hacker a:hover {
    text-shadow: 0 0 5px #0f0;
}
